{% extends "base_generic.html" %}

{% block content %}
<h1>Author:  {{ author.first_name}} ,{{ author.last_name}}</h1>
  <p><a href="">{{ author.date_of_birth}}</a> - <a href="">{{ author.date_of_death}}</a></p> 
  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    {% for book in author.book_set.all %}
      <hr>
      <p class="{% if book.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ book.get_status_display }}
      </p>
      {% if book.status != 'a' %}
        <p> <a href="">{{book.title}}</a></p>
      {% endif %}
      <p> {{ book.summary }}</p>
    {% endfor %}
  </div>
{% endblock %} 